{% extends 'base.html' %} {% block title %} Dashboard {% endblock %} {% block
content %}

<div class="mx-auto my-3 text-center">
  <h1 class="my-3">Your Channels</h1>
  <div class="container">
    <div class="row">
      {% for ch in channels %}
      <div class="col-md-6 my-3">
        <div class="card" style="width: 30rem">
          <div class="card-body">
            <h5 class="card-title">{{ ch.title }}</h5>
            <p class="card-text"></p>
            <form class="d-inline" method="GET" action="/add_member">
              <input type="hidden" name="channel_id" value="{{ ch.id }}" />
              <button type="submit" class="btn btn-dark btn-sm my-1">
                Add New Member
              </button>
            </form>
            <form class="d-inline" method="GET" action="/remove_member">
              <input type="hidden" name="channel_id" value="{{ ch.id }}" />
              <button type="submit" class="btn btn-dark btn-sm my-1">
                Remove a Member
              </button>
            </form>
            <form class="d-inline" method="GET" action="/schedule_message">
              <input type="hidden" name="channel_id" value="{{ ch.id }}" />
              <input
                type="hidden"
                name="channel_title"
                value="{{ ch.title }}"
              />
              <button type="submit" class="btn btn-dark btn-sm my-1">
                Schedule Messages
              </button>
            </form>
            <form class="d-inline" method="GET" action="/schedule_quiz">
              <input type="hidden" name="channel_id" value="{{ ch.id }}" />
              <input
                type="hidden"
                name="channel_title"
                value="{{ ch.title }}"
              />
              <button type="submit" class="btn btn-dark btn-sm my-1">
                Schedule Quiz
              </button>
            </form>
            <form class="d-inline" method="GET" action="/get_invite">
              <input type="hidden" name="channel_id" value="{{ ch.id }}" />
              <button type="submit" class="btn btn-dark btn-sm my-1">
                Get Sharable Link
              </button>
            </form>
            <form class="d-inline" method="GET" action="/quiz_reports">
              <input type="hidden" name="channel_id" value="{{ ch.id }}" />
              <button type="submit" class="btn btn-dark btn-sm my-1">
                Get Quiz Reports
              </button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
