{% extends 'base.html' %} {% block title %} Dashboard {% endblock %} {% block
    content %}


{% if sheets %}

<div class="container mt-4">
    <div class="row">
        <div class="col-sm text-center">
            <div class="alert alert-dark mt-4" role="alert">
                <h3>Report Link</h3>
                {{ sheets }}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container mt-4">
    <div class="text-center">
        <h1>No Reports have been recorded yet!</h1>
    </div>
</div>
{% endif %}
{% endblock %}